
//- Javascript Libraries
script(src="/javascripts/game_content/lib/phaser.js")
script(src="/javascripts/game_content/lib/noise.js")
//- Source files
script(src="/javascripts/game_content/src/Boot.js")
script(src="/javascripts/game_content/src/Preloader.js")
script(src="/javascripts/game_content/src/MainMenu.js")
script(src="/javascripts/game_content/src/Game.js")
script(src="/javascripts/game_content/src/Initialize.js")
